name: Publish

on:
  schedule:
    - cron: "0 0 * * MON"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    outputs:
      deployed-checksum: ${{ steps.deployed-checksum.outputs.checksum }}
      artifact-checksum: ${{ steps.artifact-checksum.outputs.checksum }}

    runs-on: ubuntu-slim

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Generate feeds
        run: |
          uv run traveladvisories --output-dir public/
        env:
          COMBINE_COUNTRIES: ${{ vars.COMBINE_COUNTRIES }}

      - name: Fetch deployed checksum
        id: deployed-checksum
        run: |
          curl --silent https://josh.github.io/us-state-travel-advisories-feeds/checksum | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; head -n1 "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"

      - name: Compute checksum
        id: artifact-checksum
        run: |
          sha256sum ./* | sort | sha256sum | awk '{print $1}' | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; cat "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"
          mv "$RUNNER_TEMP/checksum" checksum
        working-directory: public/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public/

  deploy:
    needs: build
    if: ${{ needs.build.outputs.deployed-checksum != needs.build.outputs.artifact-checksum }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-slim

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
