name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Test
        run: |
          uv run traveladvisories --output-dir /tmp
